@font-face {
    font-family: Siemens-Sans-Regular;
    src: url(../fonts/siemens-sans-roman-1.woff2);
}

@font-face {
    font-family: Siemens-Sans-Bold;
    src: url(../fonts/siemens-sans-bold.woff2);
}