.module{
   padding: 60px 0;

   @media(max-width:767px){
      padding: 50px 0;
   }

   .module-1{
      .module-top{
         padding: 56px 44px;
         @media(max-width:767px){
            padding: 20px;
         }

         &.first{
            background: url(../images/EVENEWS.jpg) no-repeat center center/cover;
         }
         &.second{
            background: url(../images/digital-twin4.jpg) no-repeat center center/cover;
         }
         &.third{
            background: url(../images/eve.jpg) no-repeat center center/cover;
         }

         h2{
            font-size: 28px;
            color: $color-white;
            font-family: Siemens-Sans-Bold;
            padding: 80px 0 30px;
         }
      }
   }

   .module-2{
      padding-top: 30px;
      @media(max-width:767px){
         padding-top: 20px;
      }

      .module-bottom{
         padding: 40px;

         &.first{
            background: url(../images/woman-careers-pg.jpg) no-repeat center center/cover;
         }

         &.second{
            background: url(../images/robot-news.jpg) no-repeat center center/cover;
         }

         h2{
            font-family: Siemens-Sans-Bold;
            text-transform: uppercase;
            font-size: 28px;
            color: $color-white;
         }

         p{
            font-family: Siemens-Sans-Regular;
            font-size: 20px;
            color: $color-white;
            margin: 35px 0;
         }
      }

   }
}