.search-box{
   .offcanvas-customed{
      height: 50vh;
      .search-nav-collapse{
         .wrap{
            width: 75%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media(min-width:990px){
               width: 50%;
            }

            .searchButton {
               height: 36px;
               padding: 0 10px;
               border: 1px solid $color-cornflower;
               background: $color-cornflower;
               text-align: center;
               color: #fff;
               border-radius: 0 5px 5px 0;
               cursor: pointer;
               font-size: 20px;

               &.text{
                  border-radius: 5px;
                  margin-top: 25px;
               }

               @media(min-width: 768px) {
                  height: 55px;
                  padding: 0 20px;
               }
            }

            .search {
               width: 100%;
               position: relative;
               display: flex;
       
               .searchTerm {
                  width: 100%;
                  border: 3px solid $color-yellow;
                  border-right: none;
                  padding: 5px;
                  height: 36px;
                  border-radius: 5px 0 0 5px;
                  outline: none;
                  color: $color-black;

                  @media(min-width: 768px) {
                     height: 55px;
                  }
               }
            }
          }
      }
   }
}